@model MzServiceTicker.DataViewModels.LicenseViewModel

<div class="row">

    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.ModuleName"))
            </td>
            <td>
                @Html.DisplayFor(model => model.ModuleName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.EnterpriseEIN"))
            </td>
            <td>
                @Html.DisplayFor(model => model.EnterpriseEIN)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.HostComputerHexFingerPrint"))
            </td>
            <td>
                @Html.DisplayFor(model => model.HostComputerHexFingerPrint)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.NumLogicalProcessors"))
            </td>
            <td>
                @Html.DisplayFor(model => model.NumLogicalProcessors)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.NumProcessorCores"))
            </td>
            <td>
                @Html.DisplayFor(model => model.NumProcessorCores)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.FirstProductMajorVersion"))
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstProductMajorVersion)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.LastProductMajorVersion"))
            </td>
            <td>
                @Html.DisplayFor(model => model.LastProductMajorVersion)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.FirstProductMinorVersion"))
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstProductMinorVersion)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.LastProductMinorVersion"))
            </td>
            <td>
                @Html.DisplayFor(model => model.LastProductMinorVersion)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.MaxConcurrentUsers"))
            </td>
            <td>
                @Html.DisplayFor(model => model.MaxConcurrentUsers)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.License.ExpirationDate"))
            </td>
            <td>
                @Html.DisplayFor(model => model.ExpirationDate)
            </td>
        </tr>


        <tr>
            <td class="col-md-5"></td>
            <td></td>
        </tr>
    </table>

    <br />

    <p>@Model.TrackingString</p>

    <br />

    @Html.ActionLink(MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Return"), "Index", null, new { @class = "btn btn-primary" })

    <br />
    <br />
</div>







