@model MzServiceTicker.DataViewModels.LogViewModel

<div class="row">

    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Log.DateTime"))
            </td>
            <td>
                @Html.DisplayFor(model => model.DateTime)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Log.LogType"))
            </td>
            <td>
                @Html.DisplayFor(model => model.LogType)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Log.Severity"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Severity)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Log.Source"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Source)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Log.Username"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Username)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Log.Message"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Message)
            </td>
        </tr>

        <tr>
            <td class="col-md-5"></td>
            <td></td>
        </tr>
    </table>

    <br />

    @Html.ActionLink(MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Return"), "Index", null, new { @class = "btn btn-primary" })

    <br />
    <br />
</div>







