@model MzServiceTicker.DataViewModels.ContractViewModel

<div class="row">

    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Contract.Name"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Contract.Description"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Contract.Code"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Code)
            </td>
        </tr>


        <tr>
            <td class="col-md-5"></td>
            <td></td>
        </tr>
    </table>

    <br />

    <p>@Model.TrackingString</p>

    <br />

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div style="color: red">@Html.ValidationSummary()</div>
        
        @Html.HiddenFor(model => model.EnterpriseId)

        @Html.ActionLink(MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Return"), "Index", new { idSelectedEnterprise = Model.EnterpriseId }, new { @class = "btn btn-primary" })
        <input type='submit' value='@MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.ConfirmDelete")' class='btn btn-danger' />
    }

    <br />
    <br />
</div>







