<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />

    <title>ServiceTicker</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/css/bootstrap-theme.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/css/mz.navbar-theme.css")" rel="stylesheet" media="all">
</head>

<body>

    <script charset="UTF-8" src="@Url.Content("~/Content/script/jquery-1.11.1.min.js")"></script>
    <script charset="UTF-8" src="@Url.Content("~/Content/script/jquery-ui-1.10.4.min.js")"></script>
    <script charset="UTF-8"src="@Url.Content("~/Content/script/bootstrap.min.js")"></script>

    <div class="container">
        @Html.Action("Index", "Header")

        @RenderBody()
    </div>
</body>
</html>
