@model MzServiceTicker.ViewModels.HeaderViewModel


@if (@Model.BreadCrumbList.Count > 0)
{
    <ol class="breadcrumb">
        @foreach (var element in @Model.BreadCrumbList)
        {
         //   <li>@Html.ActionLink(@element.Name, "Index", "AppHome", new { screenKey = @Model.ScreenKey }, null)</li>
              <li>@element.Name</li>
        }

    </ol>
}

@if (!String.IsNullOrEmpty(@Model.ScreenTitle))
{
    <h1><small>@Model.ScreenTitle</small></h1>
}

