@model MzServiceTicker.DataViewModels.UserViewModel

<div class="col-md-12">

    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.User.Username"))
            </td>
            <td>
                @Html.DisplayFor(model => model.Username)
            </td>
        </tr>

        <tr>
            <td class="col-md-2"></td>
            <td></td>
        </tr>
    </table>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        <div style="color: red">@Html.ValidationSummary()</div>

        <div class="form-group">
            @Html.Label(@MzCommon.MessageHandler.MessageGetter.GetMessage("Object.User.Password"))
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = @MzCommon.MessageHandler.MessageGetter.GetMessage("Object.User.Password.Placeholder"), type = "password" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @style = "color: red" })
        </div>
    
        <div class="form-group">
            @Html.Label(@MzCommon.MessageHandler.MessageGetter.GetMessage("Object.User.PasswordConfirmation"))
            @Html.TextBoxFor(model => model.PasswordConfirmation, new { @class = "form-control", placeholder = @MzCommon.MessageHandler.MessageGetter.GetMessage("Object.User.PasswordConfirmation.Placeholder"), type = "password" })
            @Html.ValidationMessageFor(model => model.PasswordConfirmation, null, new { @style = "color: red" })
        </div>

        
        @Html.HiddenFor(model => model.EnterpriseId)
        @Html.HiddenFor(model => model.Id)


        @Html.ActionLink(MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Return"), "Index", new { idSelectedEnterprise = Model.EnterpriseId }, new { @class = "btn btn-primary" })
        <input type='submit' value='@MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Save")' class='btn btn-primary' />
    }

    <br />
</div>
