@model MzServiceTicker.DataViewModels.UserContractViewModel

<div class="row">

    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.UserContract.UserUsername"))
            </td>
            <td>
                @Html.DisplayFor(model => model.UserUsername)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.UserContract.ContractCode"))
            </td>
            <td>
                @Html.DisplayFor(model => model.ContractCode)
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label(MzCommon.MessageHandler.MessageGetter.GetMessage("Object.UserContract.ContractName"))
            </td>
            <td>
                @Html.DisplayFor(model => model.ContractName)
            </td>
        </tr>

        <tr>
            <td class="col-md-5"></td>
            <td></td>
        </tr>
    </table>

    <br />

    <p>@Model.TrackingString</p>

    <br />

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div style="color: red">@Html.ValidationSummary()</div>
        
        @Html.HiddenFor(model => model.EnterpriseId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.ContractName)
        @Html.HiddenFor(model => model.ContractCode)
        @Html.HiddenFor(model => model.UserUsername)

        @Html.ActionLink(MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Return"), "Index", new { idSelectedEnterprise = Model.EnterpriseId, idSelectedUser = Model.UserId }, new { @class = "btn btn-primary" })
        <input type='submit' value='@MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.ConfirmDelete")' class='btn btn-danger' />
    }

    <br />
    <br />
</div>







