@model MzServiceTicker.DataViewModels.EnterpriseSelectorViewModel


<div class="row">

    @if (Model.idSelectedEnterprise != null)
    {
        @Html.ActionLink(@MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Create"), "Create", new { idSelectedEnterprise = Model.idSelectedEnterprise }, new { @class = "btn btn-primary btn-xs pull-right" })
    }

    @using (Html.BeginForm("Index", "AdminContractsContracts", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label>@Html.Label(@MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Enterprises"))</label>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.idSelectedEnterprise, Model.Enterprises, @MzCommon.MessageHandler.MessageGetter.GetMessage("Object.Enterprises.Select"), new { @class = "form-control input-sm" })
        </div>
        
        <input type='submit' value='@MzCommon.MessageHandler.MessageGetter.GetMessage("Screen.Contract.Visualize")' class='btn btn-primary btn-xs' />
        
        <br />
        <br />
        
    }

    @if (Model.idSelectedEnterprise != null)
    {
        @Html.Action("IndexList", "AdminContractsContracts")
    }

</div>

